.counter{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 1rem;
    text-align: center;
    
}
.btn-dark{
    margin: 20px;
}

.btn-danger{
    margin-left: 5px;
}

.right{ 
    margin-right:10px
}

.left{
    margin-left: 10px;
}