.contenedor{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org…6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    background-color: #ffffff;
    justify-content: center;
    font-family: sans-serif;
}